<link rel="stylesheet" type="text/css" media="all"
	href="night/prettyPhoto/css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" media="all"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">

<div id="main_image">
	<div id="main_image_container" style="margin-left: 0px">
		<img id="image_0" class="main_img"
			src="night/img/nebulosa_tarantula.jpeg" />
	</div>
</div>
<div id="container" ng-controller="InitDevices"
	style="background-image: url(night/img/Template.png); background-size: 940px 744px; background-repeat: no-repeat">
	<div ng-controller="FocuserCtrl"
		ng-init="focuserPressed=false;currentFocuserPosition=0">
		<div id="focus_marker" tooltip="{{'night.focuser.tooltip' | i18n}}"
			ng-mousedown="activate_focuser()"></div>
		<div id="focus_marker_info"
			ng-style="{opacity: (focuserPressed && '1.0') || '0.0'}">
			<br>
			<table>
				<tr>
					<td><label for="focuserPosition">Current Position:</label></td>
					<td><span id="focuserPosition"
						style="border: 0; color: #f6931f; font-weight: bold;">0</span></td>
				</tr>
			</table>
			<br>
			<div id="focuser_slider"></div>
			<br>
			<div style="float: right">
				<button class="button_style" ng-click="set_focuser()">SET</button>
				<button class="button_style" ng-click="cancel()">CANCEL</button>
			</div>

		</div>
	</div>


	<div id="left_controls">
		<div id="surveillance_panel" ng-controller="GetCamerasCtrl">
			<div style="margin-top: 80px;">
				<div style="width: 100px; text-align: center;">
					<span id="scam0_name" class="title">SCAM 0</span>
				</div>
				<div class="expand" style="z-index: 500;">
					<div class="positioner">
						<a class="slide" aria-haspopup="true"> <img id="scam0_img"
							src="night/img/white_noise.gif" />
						</a>
					</div>
				</div>
			</div>
			<div style="margin-top: 80px;">
				<div style="width: 100px; text-align: center;">
					<span id="scam1_name" class="title">SCAM 1</span>
				</div>
				<div class="expand" style="z-index: 409;">
					<div class="positioner">
						<a class="slide" aria-haspopup="true"> <img id="scam1_img"
							src="night/img/white_noise.gif" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="right_controls">
		<div ng-controller="MountDevice" ng-init="mount_alarm=false;mount_alarm_message='night.mount.messages.no_alarm'">
			<div id="mount_target_panel">
				<div style="display: block;">
					<span class="title">{{'night.mount.title' | i18n}}</span> <span id="mount_budge"
						title="{{mount_alarm_message | i18n}}"
						ng-style="{'opacity': mount_alarm ? 1 : 0.1}"
						class="badge badge-important" ng-mouseleave="mount_alarm=false">0</span>
	
					<div id="mount_information" style="float: right;" ng-click="showInformation()">
						<img src="night/img/information.png" />
					</div>
				</div>
				<div id="mount_parameters">
					<div class="modal hide fade" id="CatalogModal">
						<div class="modal-header">
							<h3>Catalog</h3>
						</div>
						<div class="modal-body">
							<tabset> <tab heading="{{'night.mount.catalog.solar_tab' | i18n}}">
							<table cellspacing="10px">
								<tr>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.mercury'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.venus'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.mars'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.jupiter'
										| i18n}}</td>
								</tr>
								<tr>
									<td height="100px"><div
											ng-class="(target_selected == 'mercury') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('mercury')">
											<img
												src="night/img/catalog/mercury.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'venus') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('venus')">
											<img src="night/img/catalog/venus.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'mars') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('mars')">
											<img src="night/img/catalog/mars.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'jupiter') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('jupiter')">
											<img
												src="night/img/catalog/jupiter.jpg"
												height="100px" />
										</div></td>
								</tr>
								<tr>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.saturn'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.neptune'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.uranus'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.moon'
										| i18n}}</td>
								</tr>
								<tr>
									<td height="20px"><div
											ng-class="(target_selected == 'saturn') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('saturn')">
											<img
												src="night/img/catalog/saturn.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'neptune') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('neptune')">
											<img
												src="night/img/catalog/neptune.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'uranus') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('uranus')">
											<img
												src="night/img/catalog/uranus.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'moon') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('moon')">
											<img
												src="night/img/catalog/moon.jpg"
												height="100px" />
										</div></td>
									
								</tr>
							</table>

							</tab> 
							</tabset>
							Source: wikipedia
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="setTargetName()">{{'night.mount.apply'
								| i18n}}</button>
							<button class="btn btn-warning" data-dismiss="modal"
								ng-click="cancel()">{{'night.mount.close' | i18n}}</button>
						</div>
					</div>
					<table id="ra_table" style="position: relative; left: 12px; border-spacing: 5px">
						<tr>
							<td id="ra_coordinates"><!-- 
								<input id="coords_ra" class="input_text" ng-model="ra"
								ng-disabled="hasTargetName()"
								placeholder="{{'night.mount.ra' | i18n}}"></input>
								 -->
								 <input id="rah" class="input_text_dec" ng-model="rah" ng-disabled="hasTargetName()"></input> :
								 <input id="ram" class="input_text_radec" ng-model="ram" ng-disabled="hasTargetName()"></input> :
								 <input id="ras" class="input_text_radec" ng-model="ras" ng-disabled="hasTargetName()"></input>
								
								 
								</td>
						</tr>
						<tr>
							<td id="dec_coordinates">
								<input id="decg" class="input_text_dec" ng-model="decg" ng-disabled="hasTargetName()"></input> :
								<input id="decm" class="input_text_radec" ng-model="decm" ng-disabled="hasTargetName()"></input> :
								<input id="decs" class="input_text_radec" ng-model="decs" ng-disabled="hasTargetName()"></input>
							<!-- 
								<input id="coords_dec" class="input_text" ng-model="dec"
								ng-disabled="hasTargetName()"
								placeholder="{{'night.mount.dec' | i18n}}"></input>
								 -->
							</td>
						</tr>
						<tr>
							<td><input id="tags" class="input_text"
								ng-model="target_name" ng-disabled="hasCoordinates()"
								placeholder="{{'night.mount.object' | i18n}}"></input></td>
							<td><div class="action_component">
									<img src="night/img/catalog.png"
										width="32px" height="32px" ng-click="open_catalog()" />
								</div></td>
						</tr>
					</table>
					<div align="center" class="status" ng-model="status_mount"
					ng-init="status_mount='night.mount.status.ready'">
					<span id="mount_status" class="status_text">{{status_mount |
						i18n}}</span>
					</div>
					<div id="mount_buttons_panel" style="float: right;">
						<img src="night/img/telescope.png"
							width="32px" height="32px" ng-click="go()"
							tooltip="Move telescope" />
					</div>
				</div>
			</div>
			<div id="hand_controller_pad"
				style="position: absolute; top: -40px; left: 55px;"
				tooltip="{{'night.mount.messages.relative_move' | i18n}}">
				<table>
					<tr>
						<td></td>
						<td>
							<div class="arrow_up"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'"></div>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<div class="arrow_left"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'"></div>
						</td>
						<td></td>
						<td>
							<div class="arrow_right"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'"></div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="arrow_down"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'"></div>
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="main_ccd_panel" ng-controller="CcdDevice"
			ng-init="ccd_alarm=false;ccd_alarm_message='night.ccd.messages.no_alarm'">
			<div style="display: block;">
				<span class="title">CCD</span> <span id="ccd_budge"
					title="{{ccd_alarm_message | i18n}}"
					ng-style="{'opacity': ccd_alarm ? 1 : 0.1}"
					class="badge badge-important" ng-mouseleave="ccd_alarm=false">0</span>

				<div id="ccd_information" style="float: right;">
					<img src="night/img/information.png" />
				</div>
			</div>
			<div id="main_ccd_parameters" ng-model="isExposing"
				ng-init="isExposing=false">

				<table style="position: relative; left: 18px; border-spacing: 5px">
					<tr>
						<td><input id="exposure_time" class="input_text"
							ng-model="exposure_time"
							placeholder="{{'night.ccd.exposure_time' | i18n}}"></td>
					</tr>
					<tr>
						<td><select id="filter_selector" class="selector"
							ng-model="filter" ng-change="setFilter()"
							ng-disabled="!hasFilterWheel[ccd_order]"
							ng-options="item for item in filters_0">
								<!-- <option ng-repeat="filter in filters_0">{{filter}}</option> -->
						</select></td>
					</tr>
					<tr>
						<td><input id="gain" class="input_text"
							ng-model="gain" 
							placeholder="{{'night.ccd.gain' | i18n}}"></td>
					</tr>
				</table>

				<div align="center" class="status" ng-model="status_main_ccd"
					ng-init="status_main_ccd='night.ccd.status.ready'">
					<span id="ccd_status" class="status_text"
						ng-class="{'mess-info':isExposing}">{{status_main_ccd |
						i18n}}</span>
				</div>
				<div id="main_ccd_buttons_panel" style="float: right">
					<div style="display:inline"
						ng-class="hasVideoMode[ccd_order] ? (isExposing && 'ccd_button_disabled' || (isVideo && 'ccd_button_selected' || 'ccd_button')) : 'ccd_button_disabled'"
						ng-click="hasVideoMode[ccd_order] && !isExposing && video()">
						<img src="night/img/video.png" width="40px"
							height="34px" tooltip="{{'night.ccd.messages.video_text' | i18n}}" />
					</div>
					<div style="display:inline"
						ng-class="isExposing ? 'ccd_button_selected' : 'ccd_button'"
						ng-click="!isExposing && expose()">
						<img src="night/img/eye.png" width="40px"
							height="34px" tooltip="{{'night.ccd.messages.expose_text' | i18n}}" />
					</div>	
				</div>
			</div>
			<div id="ccd_button_1"
				ng-class="hasCcd[1] ? ((ccd_order == 1) && 'ccd_button_selected' || 'ccd_button') : 'ccd_button_disabled'"
				ng-click="hasCcd[1] && setOrder(1)"
				style="position: relative; width: 40px; left: -600px; top: -20px;"
				tooltip="{{'night.ccd.messages.secondary_ccd' | i18n}}">
				<img src="night/img/ccd.png" />
			</div>
			<div id="ccd_button_0"
				ng-class="hasCcd[0] ? ((ccd_order == 0) && 'ccd_button_selected' || 'ccd_button') : 'ccd_button_disabled'"
				ng-click="hasCcd[0] && setOrder(0)"
				style="position: relative; width: 54px; top: -63px; left: -100px"
				tooltip="{{'night.ccd.messages.main_ccd' | i18n}}">
				<img src="night/img/main_ccd.png" />
			</div>
		</div>
	</div>

	<!-- <div style="width:500px;position:absolute;top:80px;left:270px;"> -->



	<!-- </div>  -->

	<div id="gloria_info">
		<span class="title_info">GLORIA</span> <span class="regular_info">Info</span>
		<div id="weather_station" ng-controller="WeatherDevice" ng-init="weather_alarm=false"
			style="width: 400px; margin-top: -5px; margin-left: 100px">
			<div class="modal hide fade" id="WeatherAlarmModal">
				<div class="modal-header">
					<h3>{{'night.weather.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">{{'night.weather.alarm_text' | i18n}}</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px" src="night/img/humidity.png" /></td>
					</tr>
					<tr>
						<td><label class="no_alarm" id="humidity">--- % RH</label></td>
					</tr>
				</table>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px" src="night/img/wind.png" /></td>
					</tr>
					<tr>
						<td><label class="no_alarm" id="velocity">--- m/s</label></td>
					</tr>
				</table>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px"
							src="night/img/temperature.png" /></td>
					</tr>
					<tr>
						<td><label class="no_alarm" id="temperature">--- Deg.
								M</label></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="remainingTimer" class="timer" ng-controller="TimeReservationCtrl" ng-init="last_minutes=false">
			<div class="modal hide fade" id="ReservationTimeModal">
				<div class="modal-header">
					<h3>{{'night.general.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">{{'night.general.expiration_time' | i18n}}</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
			<span id="timer_minutes" ng-style="{color: (last_minutes && 'red') || 'silver'}">--</span>
			<span ng-style="{color: (last_minutes && 'red') || 'silver'}">:</span>
			<span id="timer_seconds" ng-style="{color: (last_minutes && 'red') || 'silver'}">--</span>
		</div>
		<div ng-controller="DomeCtrl">
			<div class="modal hide fade" id="DomeModal">
				<div class="modal-header">
					<h3>{{'night.general.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">Dome is closed</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
		</div>
		 
	</div>

	<div ng-controller="SolarImagesCtrl" class="span9"
		style="height: 100px; cursor: default">
		<div align="center">
			<h5 class="label-info title_night" style="margin-top: 0px">Álbum</h5>
		</div>
		<div
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; margin-left: 12px; height: 36px">
			<img ng-show="currentIndex > 0" class="animate-show bright-button"
				ng-src="night/img/left.png" ng-click="nextLeft()">
		</div>
		<div
			style="float: left; position: relative; overflow: hidden; width: 616px; height: 70px; margin-left: 15px; margin-right: 15px;"
			class="span8 animate-show">
			<div class="images" ng-style="sliderStyle" id="thumbnails"
				style="width: 850px; position: absolute;">
				<div class="image-thumb" style="margin-top: 2px"
					ng-show="thumbsReady" ng-repeat="image in images | filter:filterFn"
					ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
					<div style="position: relative">
						<a> <img ng-click="open(image)"
							style="border-radius: 3px; cursor: pointer" class="bright-button"
							ng-src="{{image.jpg}}" alt="">
						</a>
						<div style="opacity: 1.0; position: absolute; top: 65%; left: 5%">
							{{image.order}}</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; height: 36px">
			<img ng-show="currentIndex + 6 < images.length"
				class="animate-show bright-button"
				ng-src="night/img/right.png" ng-click="nextRight()">
		</div>
		<div>
			<script type="text/ng-template" id="myModalContent.html">
						<div>
    	    				<div class="modal-header">
		            			<h3>Image {{image.order}}</h3>
        					</div>
        					<div class="modal-body" style="max-height: 1000px;">
	            				<img ng-src="{{image.jpg}}">        			
        					</div>
        					<div class="modal-footer" style="background-color: rgba(0, 0, 0, 0.6); border: none">
								<p class="pull-left">{{'night.album.taken'  | i18n}} {{image.date | utc | date:short}} UT.</p>
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{image.jpg}}" data-text="{{'night.twitter.send_image' | i18n}}" data-via="GloriaProject">Tweet</a>
								<a class="btn btn-primary" download="image.jpg" ng-href="{{image.jpg + '&download=true'}}">JPEG</a>
								<a class="btn btn-warning" download="image.jpg" ng-href="{{image.fits + '&download=true'}}">FITS</a>            					
        					</div>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
   			 		</script>
		</div>
	</div>
  
</div>

<div id="infRa" style="visibility:hidden">{{'night.mount.messages.info_ra' | i18n}}</div>
<div id="infDec" style="visibility:hidden">{{'night.mount.messages.info_dec' | i18n}}</div>
<div id="infTarget" style="visibility:hidden">{{'night.mount.messages.info_target' | i18n}}</div>
<div id="infTime" style="visibility:hidden">{{'night.ccd.messages.info_exposition' | i18n}}</div>
<div id="infFilter" style="visibility:hidden">{{'night.ccd.messages.info_filter' | i18n}}</div>
<div id="infGain" style="visibility:hidden">{{'night.ccd.messages.info_gain' | i18n}}</div>

<script>
	/*
	 $("#ccd_alert").tooltip({
	 show: {
	 effect: "slideDown",
	 delay: 250
	 }
	 });*/
	/*
	 $("#ccd_information").popover({
	 content: "{{'night.ccd.exposure_time' | i18n}}",
	 });
	 */

	 //mountTip.setContent($("#inf").text());
	 
	 //mountTip.show();
	 
	 var raTip = new Opentip("#mount_information",{target:"#ra_coordinates", tipJoint:"bottom left"});
	 var decTip = new Opentip("#mount_information",{target:"#dec_coordinates", tipJoint:"bottom right"});
	 var tags = new Opentip("#mount_information",{target:"#tags", tipJoint:"top left"});
	 var timeTip = new Opentip("#ccd_information",{target:"#exposure_time", tipJoint:"bottom left"});
	 var filterTip = new Opentip("#ccd_information",{target:"#filter_selector", tipJoint:"right"});
	 var gainTip = new Opentip("#ccd_information", {target:"#gain", tipJoint:"left"});
	 
	 
	$("#focuser_slider").slider({
		range : "max",
		min : -1000,
		max : 1000,
		value : 0,
		slide : function(event, ui) {
			$("#focuserPosition").text(ui.value);
			rotateOriginalDegree = (ui.value * 18) / 100;
			var rotate = 'rotate(' + rotateOriginalDegree + 'deg)';
			$('#focus_marker').css({
				'-moz-transform' : rotate,
				'transform' : rotate,
				'-webkit-transform' : rotate,
				'-ms-transform' : rotate
			});
		}
	});
</script>
