<link rel="stylesheet" type="text/css" media="all"
	href="night/prettyPhoto/css/prettyPhoto.css">
<link rel="stylesheet" type="text/css" media="all"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css">

<div id="main_image">
	<div id="main_image_container" style="margin-left: 0px">
		<img id="image_0" class="main_img"
			src="night/img/nebulosa_tarantula.jpeg" />
	</div>
</div>
<div id="container" ng-controller="InitDevices"
	style="background-image: url(night/img/Template.png); background-size: 940px 744px; background-repeat: no-repeat">
	<div ng-controller="FocuserCtrl"
		ng-init="focuserPressed=false;currentFocuserPosition=0">
		<div id="focus_marker" tooltip="{{'night.focuser.tooltip' | i18n}}"
			ng-mousedown="activate_focuser()"></div>
		<div id="focus_marker_info"
			ng-style="{opacity: (focuserPressed && '1.0') || '0.0'}">
			<br>
			<table>
				<tr>
					<td><label for="focuserPosition">Current Position:</label></td>
					<td><span id="focuserPosition"
						style="border: 0; color: #f6931f; font-weight: bold;">0</span></td>
				</tr>
			</table>
			<br>
			<div id="focuser_slider"></div>
			<br>
			<div style="float: right">
				<button class="button_style" ng-click="set_focuser()">SET</button>
				<button class="button_style" ng-click="cancel()">CANCEL</button>
			</div>

		</div>
	</div>


	<div id="left_controls">
		<div id="surveillance_panel" ng-controller="GetCamerasCtrl">
			<div style="margin-top: 80px;">
				<div style="width: 100px; text-align: center;">
					<span id="scam0_name" class="title">SCAM 0</span>
				</div>
				<div class="expand" style="z-index: 500;">
					<div class="positioner">
						<a class="slide" aria-haspopup="true"> <img id="scam0_img"
							src="night/img/white_noise.gif" />
						</a>
					</div>
				</div>
			</div>
			<div style="margin-top: 80px;">
				<div style="width: 100px; text-align: center;">
					<span id="scam1_name" class="title">SCAM 1</span>
				</div>
				<div class="expand" style="z-index: 409;">
					<div class="positioner">
						<a class="slide" aria-haspopup="true"> <img id="scam1_img"
							src="night/img/white_noise.gif" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="right_controls">
		<div ng-controller="MountDevice" ng-init="mount_alarm=false;mount_alarm_message='night.mount.messages.no_alarm'">
			<div id="mount_target_panel">
				<div style="display: block;">
					<span class="title">{{'night.mount.title' | i18n}}</span> <span id="mount_budge"
						title="{{mount_alarm_message | i18n}}"
						ng-style="{'opacity': mount_alarm ? 1 : 0.1}"
						class="badge badge-important" ng-mouseleave="mount_alarm=false">0</span>
	
					<div id="mount_information" style="float: right;" ng-click="showInformation()">
						<img src="night/img/information.png" />
					</div>
				</div>
				<div id="mount_parameters">
					<div class="modal hide fade" id="CatalogModal">
						<div class="modal-header">
							<h3>Catalog</h3>
						</div>
						<div class="modal-body">
							<tabset> <tab heading="{{'night.mount.catalog.solar_tab' | i18n}}">
							<table cellspacing="10px">
								<tr>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.mercury'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.venus'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.mars'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.jupiter'
										| i18n}}</td>
								</tr>
								<tr>
									<td height="100px"><div
											ng-class="(target_selected == 'mercury') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('mercury')">
											<img
												src="night/img/catalog/mercury.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'venus') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('venus')">
											<img src="night/img/catalog/venus.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'mars') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('mars')">
											<img src="night/img/catalog/mars.jpg"
												height="100px" />
										</div></td>
									<td height="100px"><div
											ng-class="(target_selected == 'jupiter') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('jupiter')">
											<img
												src="night/img/catalog/jupiter.jpg"
												height="100px" />
										</div></td>
								</tr>
								<tr>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.saturn'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.neptune'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.uranus'
										| i18n}}</td>
									<td height="20px" class="catalog_title">{{'night.mount.catalog.moon'
										| i18n}}</td>
								</tr>
								<tr>
									<td height="20px"><div
											ng-class="(target_selected == 'saturn') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('saturn')">
											<img
												src="night/img/catalog/saturn.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'neptune') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('neptune')">
											<img
												src="night/img/catalog/neptune.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'uranus') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('uranus')">
											<img
												src="night/img/catalog/uranus.jpg"
												height="100px" />
										</div></td>
									<td height="20px"><div
											ng-class="(target_selected == 'moon') ?  'action_component_enabled': 'action_component'"
											ng-click="selectTarget('moon')">
											<img
												src="night/img/catalog/moon.jpg"
												height="100px" />
										</div></td>
									
								</tr>
							</table>

							</tab> 
							</tabset>
							Source: wikipedia
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="setTargetName()">{{'night.mount.apply'
								| i18n}}</button>
							<button class="btn btn-warning" data-dismiss="modal"
								ng-click="cancel()">{{'night.mount.close' | i18n}}</button>
						</div>
					</div>
					<div class="modal hide fade" id="CoordinatesModal">
						<div class="modal-header">
							<h3>{{'night.coordinates_modal.title' | i18n}}</h3>
						</div>
						<div class="modal-body">
							{{'night.coordinates_modal.introduction' | i18n}}<br>
							<table>
								<tr>
									<td>{{'night.coordinates_modal.right_ascension' | i18n}}</td>
									<td>
										<select ng-model="rah_sel" ng-init="rah_sel = 0" class="selector_coordinates" ng-options="item_rah for item_rah in Range(0,24)"></select>
										<select ng-model="ram_sel" ng-init="ram_sel = 0" class="selector_coordinates" ng-options="item_ram for item_ram in Range(0,60)"></select>
										<select ng-model="ras_sel" ng-init="ras_sel = 0" class="selector_coordinates" ng-options="item_ras for item_ras in Range(0,60)"></select>
									</td>
								</tr>
								<tr>
									<td>{{'night.coordinates_modal.declination' | i18n}}</td>
									<td>
										<select ng-model="decsign_sel" ng-init="decsign_sel = '+'" class="selector_coordinates" >
											<option value="+" selected>+</option>
											<option value="-">-</option>
										</select>
										<select ng-model="decg_sel" ng-init="decg_sel = 0" class="selector_coordinates" ng-options="item_decg for item_decg in Range(0,90)"></select>
										<select ng-model="decm_sel" ng-init="decm_sel = 0" class="selector_coordinates" ng-options="item_decm for item_decm in Range(0,60)"></select>
										<select ng-model="decs_sel" ng-init="decs_sel = 0" class="selector_coordinates" ng-options="item_decs for item_decs in Range(0,60)"></select>
									</td>
								</tr>
							</table>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" ng-click="setCoordinates()">{{'night.mount.apply'
								| i18n}}</button>
							<button class="btn btn-warning" data-dismiss="modal"
								ng-click="cancel()">{{'night.mount.close' | i18n}}</button>
						</div>
					</div>
					<table id="ra_table" style="position: relative; left: 12px; border-spacing: 5px;margin-bottom:10px;">
						<tr>
							<td id="ra_coordinates">
								{{rah}} : {{ram}} : {{ras}}
							</td>
						</tr>
						<tr>
							<td id="dec_coordinates">
								{{decsign}}{{decg}} : {{decm}} : {{decs}}
							</td>
						</tr>
						<tr>
							<td><input id="tags" class="input_text"
								ng-model="target_name" placeholder="{{'night.mount.object' | i18n}}"></input></td>
							<td><div id="catalog_button" class="action_component" style="position:absolute;top:45px;right:-35px">
									<img src="night/img/catalog.png"
										width="32px" height="32px" ng-click="open_catalog()" />
								</div></td>
						</tr>
					</table>
					<div id="coordinates_button" class="action_component" style="position:absolute;top:10px;right:0px">
						<img src="night/img/compass.png" width="24px" height="24px" ng-click="open_coordinates()"/>
					</div>
					<div align="center" class="status" ng-model="status_mount"
					ng-init="status_mount='night.mount.status.ready'" style="position:relative;left:12px;width:85px">
					<span id="mount_status" class="status_text">{{status_mount |
						i18n}}</span>
					</div>
					<div id="mount_buttons_panel" style="position:absolute;bottom:-20px;right:0px">
						<img src="night/img/telescope.png"
							width="32px" height="32px" ng-click="go()"
							tooltip="Move telescope" />
					</div>
				</div>
			</div>
			<div id="hand_controller_pad"
				style="position: absolute; top: -40px; left: 55px;"
				tooltip="{{'night.mount.messages.relative_move' | i18n}}">
				<table>
					<tr>
						<td></td>
						<td>
							<div class="arrow_up"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'" ng-click="hasMove && move_north()"></div>
						</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<div class="arrow_left"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'" ng-click="hasMove && move_west()"></div>
						</td>
						<td></td>
						<td>
							<div class="arrow_right"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'" ng-click="hasMove && move_east()"></div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<div class="arrow_down"
								ng-class="hasMove ? 'component_enabled' : 'component_disabled'" ng-click="hasMove && move_south()"></div>
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="main_ccd_panel" ng-controller="CcdDevice"
			ng-init="ccd_alarm=false;ccd_alarm_message='night.ccd.messages.no_alarm'">
			<div style="display: block;">
				<span class="title">CCD</span> <span id="ccd_budge"
					title="{{ccd_alarm_message | i18n}}"
					ng-style="{'opacity': ccd_alarm ? 1 : 0.1}"
					class="badge badge-important" ng-mouseleave="ccd_alarm=false">0</span>

				<div id="ccd_information" style="float: right;">
					<img src="night/img/information.png" />
				</div>
			</div>
			<div id="main_ccd_parameters" ng-model="isExposing"
				ng-init="isExposing=false">

				<div tooltip="{{'night.ccd.tooltip.exposure_time' | i18n}}">
					<div id="exposure_slider" style="width:80px;"></div>
					<div id="exposure_time_div" style="position:absolute;top:-6px;right:40px;width:0px;">
						<input type="text" id="exposure_time" ng-disabled="!hasExposition[ccd_order]" ng-blur="check_exposure_time()" style="width:30px;font-size:10px;font-weight:bold;height:10px;margin:0px;"></input>
					</div>
				</div>
				<div tooltip="{{'night.ccd.tooltip.gain' | i18n}}" style="margin-top:20px;">
					<div id="gain_slider" ng-if="hasGain[ccd_order]" style="width:80px;"></div>
					<div id="gain_div" style="position:absolute;top:20px;right:-5px">
						<input type="text" id="gain" ng-disabled="!hasGain[ccd_order]" ng-blur="check_gain()" style="width:30px;font-size:10px;font-weight:bold;height:10px;margin:0px;"></input>
					</div>
				</div>
				<div style="margin-top:8px;margin-bottom:4px">
					<select id="filter_selector" class="selector"
							ng-model="filter" ng-change="setFilter()"
							ng-disabled="!hasFilterWheel[ccd_order]"
							ng-options="item for item in filters_0">
					</select>
				</div>
		
				<div align="center" class="status" ng-model="status_main_ccd"
					ng-init="status_main_ccd='night.ccd.status.ready'" style="position:relative;width:85px">
					<span id="ccd_status" class="status_text"
						ng-class="{'mess-info':isExposing}">{{status_main_ccd |
						i18n}}</span>
				</div>
				<div id="main_ccd_buttons_panel" style="position:relative;width:85px;" align="center">
					<div style="display:inline"
						ng-class="hasVideoMode[ccd_order] ? (isExposing && 'ccd_button_disabled' || (isVideo && 'ccd_button_selected' || 'ccd_button')) : 'ccd_button_disabled'"
						ng-click="hasVideoMode[ccd_order] && !isExposing && video()">
						<img src="night/img/video.png" width="36px"
							height="30px" tooltip="{{'night.ccd.messages.video_text' | i18n}}" />
					</div>
					<div id="exposure_button" style="display:inline"
						ng-class="isExposing ? 'ccd_button_selected' : 'ccd_button'"
						ng-click="!isExposing && expose()">
						<img src="night/img/eye.png" width="36px"
							height="30px" tooltip="{{'night.ccd.messages.expose_text' | i18n}}" />
					</div>	
				</div>
			</div>
			<div id="ccd_button_1"
				ng-class="hasCcd[1] ? ((ccd_order == 1) && 'ccd_button_selected' || 'ccd_button') : 'ccd_button_disabled'"
				ng-click="hasCcd[1] && setOrder(1)"
				style="position: relative; width: 40px; left: -600px;top:-30px"
				tooltip="{{'night.ccd.messages.secondary_ccd' | i18n}}">
				<img src="night/img/ccd.png" />
			</div>
			<div id="ccd_button_0"
				ng-class="hasCcd[0] ? ((ccd_order == 0) && 'ccd_button_selected' || 'ccd_button') : 'ccd_button_disabled'"
				ng-click="hasCcd[0] && setOrder(0)"
				style="position: relative; width: 54px; top: -63px; left: -100px"
				tooltip="{{'night.ccd.messages.main_ccd' | i18n}}">
				<img src="night/img/main_ccd.png" />
			</div>
		</div>
	</div>

	<!-- <div style="width:500px;position:absolute;top:80px;left:270px;"> -->



	<!-- </div>  -->

	<div id="gloria_info">
		<span class="title_info">GLORIA</span> <span class="regular_info">Info</span>
		<div id="weather_station" ng-controller="WeatherDevice" ng-init="weather_alarm=false"
			style="width: 400px; margin-top: -5px; margin-left: 100px">
			<div class="modal hide fade" id="WeatherAlarmModal">
				<div class="modal-header">
					<h3>{{'night.weather.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">{{'night.weather.alarm_text' | i18n}}</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px" src="night/img/humidity.png" /></td>
					</tr>
					<tr>
						<td><div ng-style="{'color': humidity_alarm ? 'red' : 'silver'}" id="humidity">--- % RH</div></td>
					</tr>
				</table>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px" src="night/img/wind.png" /></td>
					</tr>
					<tr>
						<td><div ng-style="{'color': wind_alarm ? 'red' : 'silver'}" id="velocity">--- m/s</div></td>
					</tr>
				</table>
			</div>
			<div style="float: left; display: inline-block; width: 33%">
				<table>
					<tr>
						<td style="text-align: center"><img height="24px"
							width="24px"
							src="night/img/temperature.png" /></td>
					</tr>
					<tr>
						<td><div ng-style="{'color': temperature_alarm ? 'red' : 'silver'}" id="temperature">--- Deg.
								M</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div id="remainingTimer" class="timer" ng-controller="TimeReservationCtrl" ng-init="last_minutes=false">
			<div class="modal hide fade" id="ReservationTimeModal">
				<div class="modal-header">
					<h3>{{'night.general.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">{{'night.general.expiration_time' | i18n}}</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
			<span id="timer_minutes" ng-style="{color: (last_minutes && 'red') || 'silver'}">--</span>
			<span ng-style="{color: (last_minutes && 'red') || 'silver'}">:</span>
			<span id="timer_seconds" ng-style="{color: (last_minutes && 'red') || 'silver'}">--</span>
		</div>
		<div ng-controller="DomeCtrl">
			<div class="modal hide fade" id="DomeModal">
				<div class="modal-header">
					<h3>{{'night.general.alert' | i18n}}</h3>
				</div>
				<div class="modal-body">
					<span class="regular_text">Dome is closed</span>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" data-dismiss="modal"
							ng-click="">{{'night.mount.close' | i18n}}</button>
				</div>
			</div>
		</div>
		 
	</div>

	<div ng-controller="SolarImagesCtrl" class="span9"
		style="height: 100px; cursor: default">
		<div align="center">
			<h5 class="label-info title_night" style="margin-top: 0px">Álbum</h5>
		</div>
		<div id="album_panel"
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; margin-left: 12px; height: 36px">
			<img ng-show="currentIndex > 0" class="animate-show bright-button"
				ng-src="night/img/left.png" ng-click="nextLeft()">
		</div>
		<div
			style="float: left; position: relative; overflow: hidden; width: 616px; height: 70px; margin-left: 15px; margin-right: 15px;"
			class="span8 animate-show">
			<div class="images" ng-style="sliderStyle" id="thumbnails"
				style="width: 850px; position: absolute;">
				<div class="image-thumb" style="margin-top: 2px"
					ng-show="thumbsReady" ng-repeat="image in images | filter:filterFn"
					ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
					<div style="position: relative">
						<a> <img ng-click="open(image)"
							style="border-radius: 3px; cursor: pointer" class="bright-button"
							ng-src="{{image.jpg}}" alt="">
						</a>
						<div style="opacity: 1.0; position: absolute; top: 65%; left: 5%">
							{{image.order}}</div>
					</div>
				</div>
			</div>
		</div>
		<div
			style="float: left; cursor: pointer; width: 18px; margin-top: 12px; height: 36px">
			<img ng-show="currentIndex + 6 < images.length"
				class="animate-show bright-button"
				ng-src="night/img/right.png" ng-click="nextRight()">
		</div>
		<div>
			<script type="text/ng-template" id="myModalContent.html">
						<div>
    	    				<div class="modal-header">
		            			<h3>Image {{image.order}}</h3>
        					</div>
        					<div class="modal-body" style="max-height: 1000px;">
	            				<img ng-src="{{image.jpg}}">        			
        					</div>
        					<div class="modal-footer" style="background-color: rgba(0, 0, 0, 0.6); border: none">
								<p class="pull-left">{{'night.album.taken'  | i18n}} {{image.date | utc | date:short}} UT.</p>
								<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{image.jpg}}" data-text="{{'night.twitter.send_image' | i18n}}" data-via="GloriaProject">Tweet</a>
								<a class="btn btn-primary" download="image.jpg" ng-href="{{image.jpg + '&download=true'}}">JPEG</a>
								<a class="btn btn-warning" download="image.jpg" ng-href="{{image.fits + '&download=true'}}">FITS</a>            					
        					</div>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
						</div>
   			 		</script>
		</div>
	</div>
<div style="position:absolute;top:250px;left:1000px">
	<a href="https://github.com/esgg/GLORIANightExperiment" target="_blank">
		<img src="night/img/construction-small.jpg">
	</a>
</div>
<!-- 
<div id="infRa" style="visibility:hidden">{{'night.mount.messages.info_ra' | i18n}}</div>
<div id="infDec" style="visibility:hidden">{{'night.mount.messages.info_dec' | i18n}}</div>
<div id="infTarget" style="visibility:hidden">{{'night.mount.messages.info_target' | i18n}}</div>
<div id="infTime" style="visibility:hidden">{{'night.ccd.messages.info_exposition' | i18n}}</div>
<div id="infFilter" style="visibility:hidden">{{'night.ccd.messages.info_filter' | i18n}}</div>
<div id="infGain" style="visibility:hidden">{{'night.ccd.messages.info_gain' | i18n}}</div>

<div id="tutStep1" style="visibility:hidden">{{'night.tutorial.step1' | i18n}}</div>
<div id="tutStep2" style="visibility:hidden">{{'night.tutorial.step2' | i18n}}</div>
<div id="tutStep3" style="visibility:hidden">{{'night.tutorial.step3' | i18n}}</div>
<div id="tutStep4" style="visibility:hidden">{{'night.tutorial.step4' | i18n}}</div>
<div id="tutStep5" style="visibility:hidden">{{'night.tutorial.step5' | i18n}}</div>
<div id="tutStep6" style="visibility:hidden">{{'night.tutorial.step6' | i18n}}</div>
<div id="tutStep7" style="visibility:hidden">{{'night.tutorial.step7' | i18n}}</div>
<div id="tutStep8" style="visibility:hidden">{{'night.tutorial.step8' | i18n}}</div>
<div id="tutStep9" style="visibility:hidden">{{'night.tutorial.step9' | i18n}}</div>
<div id="tutStep10" style="visibility:hidden">{{'night.tutorial.step10' | i18n}}</div>
<div id="tutStep11" style="visibility:hidden">{{'night.tutorial.step11' | i18n}}</div>
<div id="tutStep12" style="visibility:hidden">{{'night.tutorial.step12' | i18n}}</div>
<div id="tutStep12" style="visibility:hidden">{{'night.tutorial.step13' | i18n}}</div>
 -->
<script>
	
	 /*
	 var raTip = new Opentip("#ccd_information",{target:"#ra_coordinates", tipJoint:"bottom left"});
	 var decTip = new Opentip("#ccd_information",{target:"#dec_coordinates", tipJoint:"bottom right"});
	 var tags = new Opentip("#ccd_information",{target:"#tags", tipJoint:"top left"});
	 var timeTip = new Opentip("#ccd_information",{target:"#exposure_time", tipJoint:"bottom left"});
	 var filterTip = new Opentip("#ccd_information",{target:"#filter_selector", tipJoint:"right"});
	 var gainTip = new Opentip("#ccd_information", {target:"#gain", tipJoint:"left"});
	 */
	 /*
	 var step1 = new Opentip("#mount_information",{target:"#scam0_name", tipJoint:"bottom right"});
	 var step2 = new Opentip("#mount_information",{target:"#timer_minutes", tipJoint:"top left"});
	 var step3 = new Opentip("#mount_information",{target:"#coordinates_button", tipJoint:"bottom left"});
	 var step4 = new Opentip("#mount_information",{target:"#tags", tipJoint:"bottom right"});
	 var step5 = new Opentip("#mount_information",{target:"#catalog_button", tipJoint:"left"});
	 var step6 = new Opentip("#mount_information",{target:"#mount_buttons_panel", tipJoint:"bottom right"});
	 var step7 = new Opentip("#mount_information",{target:"#focus_marker", tipJoint:"bottom left"});
	 var step8 = new Opentip("#mount_information",{target:"#ccd_button_0", tipJoint:"right"});
	 var step9 = new Opentip("#mount_information",{target:"#filter_selector", tipJoint:"bottom right"});
	 var step10 = new Opentip("#mount_information",{target:"#exposure_slider", tipJoint:"bottom right"});
	 var step11 = new Opentip("#mount_information",{target:"#gain_div", tipJoint:"bottom left"});
	 var step12 = new Opentip("#mount_information",{target:"#exposure_button", tipJoint:"bottom left"});
	 var step13 = new Opentip("#mount_information",{target:"#album_panel", tipJoint:"bottom left"});
	 */
	 
	 var gainChange = false;
	 
	 
	$("#focuser_slider").slider({
		range : "max",
		min : -1000,
		max : 1000,
		value : 0,
		slide : function(event, ui) {
			$("#focuserPosition").text(ui.value);
			rotateOriginalDegree = (ui.value * 18) / 100;
			var rotate = 'rotate(' + rotateOriginalDegree + 'deg)';
			$('#focus_marker').css({
				'-moz-transform' : rotate,
				'transform' : rotate,
				'-webkit-transform' : rotate,
				'-ms-transform' : rotate
			});
		}
	});
	$("#exposure_slider").slider({
		range : "max",
		min : 0,
		max : 120,
		value : 0,
		disabled:true,
		slide : function(event, ui) {
			$("#exposure_time").val(ui.value);
		}
	});
	$("#gain_slider").slider({
		range : "max",
		min : 260,
		max : 1023,
		value : 0,
		disabled:false,
		slide : function(event, ui) {
			$("#gain").val(ui.value);
			
		},
		change: function(event,ui){
			gainChange = true;
		}
	});
	
</script>
