<!--  Import scripts and css here -->
<link href="night/css/styles.css" rel="stylesheet"></link>
<link href="night/css/opentip.css" rel="stylesheet" type="text/css" />


<!-- Experiment container -->
<div ng-show="nightReady" ng-controller="NightMainCtrl">
	<div class="page-header" style="border: none; margin-bottom: 10px">
		<div class="row" style="margin-bottom: 0px">
			<h2 class="test" style="margin-left: 18px">{{'night.header'|i18n}}</h2>
		</div>
	</div>
	<div class="animate-show"
		ng-if="!notAuthorized && !reservationActive && !wrongReservation">

		<div ng-if="!reservationEnd">
			<div ng-if="!deviceProblem">
				<div ng-switch on="infoUpdated">
					<div ng-switch-when="true" class="alert alert-g"
						style="width: 40%; margin-left: 30%; margin-top: 20px">
						<div ng-show="reservationObsolete">
							{{'night.reservation.obsolete.l1'|i18n:preRid}}.<br>{{'night.reservation.obsolete.l2'|i18n}}<a
								href="/reservations/#/new" style="color: #0F0F0F">
								{{'night.reservation.obsolete.here'|i18n}}</a>.
						</div>
						<div ng-show="!reservationObsolete">
							{{'night.reservation.unknown'|i18n:preRid}}.</div>
					</div>
					<div ng-switch-when="true" ng-show="!infoUpdated"
						class="alert alert-g mess-info"
						style="width: 30%; margin-left: 35%; margin-top: 20px">
						{{'night.reservation.loading'|i18n}}...</div>
				</div>
				<div ng-show="deviceProblem" class="alert alert-g"
					style="width: 50%; margin-left: 25%; margin-top: 20px">
					{{'night.reservation.problem'|i18n}}.</div>
			</div>
		</div>
	</div>
	<div ng-if="reservationEnd" class="alert alert-g"
		style="width: 50%; margin-left: 25%; margin-top: 20px">
		{{'night.reservation.end'|i18n}}</div>
	<div ng-if="reservationEnd" style="margin-left:25%;height:100%">
		<iframe id="questionnaire" ng-src="{{nightQuestions}}" style="width:100%;height:100%"></iframe>		
	</div>
	<div class="animate-show alert alert-g" ng-if="notAuthorized"
		style="width: 40%; margin-left: 30%; margin-top: 20px">
		{{'night.reservation.login'|i18n}}...</div>
	<div class="animate-show alert alert-g" ng-if="wrongReservation"
		style="width: 40%; margin-left: 30%; margin-top: 20px">
		{{'night.reservation.nvalid'|i18n:preRid}}</div>
	<div class="animate-show"
		ng-show="!deviceProblem && reservationActive && !notAuthorized"
		ng-class="{'transparent': reservationEnd || notAuthorized || ccdProblem}">

		<div ng-include src="specificHtml"></div>
	</div>
</div>
