/* Panels position */
#left_controls{
	position:relative;
	top:250px;
	left:40px;
	height:270px;
}
#right_controls{
	position:relative;
	top:-65px;
	left: 785px; 
}
#mount_target_panel{
	position:relative;
	top: 15px;
	left: 5px;
	width: 125px;
}
#mount_parameters{
	position:relative;
	top: 10px;
	left: 5px;
	width:130px;
}
#main_ccd_parameters{
	position:relative;
	top: 10px;
	left: 5px;
	width:130px;
}
#main_ccd_panel{
	position:relative;
	top: 65px;
}
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
	top:50px;
	left:50px;
	width:800px;
}
#main_image {
	
	height: 550px; 
	width: 550px; 
	border-radius:50%;
	border:1px solid white;
	overflow:hidden;
	margin-top:75px;
	margin-left:195px;
	position:absolute;
}
.main_img{
	max-width:300%;
	height:550px;
	margin-top: 0px;
	margin-left: 0px;
/*		transition-property: margin-top, margin-left;
    transition-duration: 5s;
    transition-timing-function: ease-out;
	-webkit-transition-duration:5s;
	-moz-transition-duration:5s;
	-o-transition-duration:5s;*/
}

/* Image carousel */

.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	margin-top:7px;
	margin-bottom:7px;
	margin-left:7px;
	margin-right:7px;
	display: block;
	float: left;
	height:100px;
	max-width:100%;
}

.image_carousel a {
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(images/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;		
	height: 50px;
	display: block;
	position: absolute;
	top: 100px;
}
a.prev {			
	left: -22px;
	background-position: 0 0; 
	opacity:0.5;
}
a.prev:hover {		
	background-position: 0 0px; 
	opacity:1.0;
}
a.next {
	right: -50px;
	background-position: -50px 0; 
	opacity:0.5;
}
a.next:hover {		
	background-position: -50px 0px; 
	opacity:1.0;
}

a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}
#gloria_info{
	position:relative;
	left:200px;
	width:530px;
	top:-20px;
}


/* Text style */
.title_info{
	color:#984d4a;
	font-size:11px;
}
.regular_info{
	color: silver;
	font-size:11px;
}
.popover{
	color:silver;
	font-size:10px;
}
.title{
	color:#984d4a;
	margin-right:5px;
}
.regular{
	color:#FFFFFF;
	font-size: 0.75em;
}
.status{
	width:120px;
	margin-top:5px;
}
.status_text{
	color:#FFFFFF;
	font-size:0.8em;
	text-align:center;
	font-weight: bold;
}

.action_component{
	opacity:0.5;
}
.action_component:hover{
	opacity:1.0;
	cursor:pointer;
}
.action_component_enabled{
	opacity:1.0;
}

.modal-header{
	text-align:center;
	background-color:black;
	color:silver;
}
.modal-body{
	background-color:black;
	color:silver;
}
.modal-footer{
	background-color:black;
	color:silver;
}
/* Form style */

.input_text{
	background-color:#000000;
	color: #FFFFFF;
	border:1px solid #1A1414;
	width: 82px;
	height:16px;
	padding-bottom:1px;
	padding-top:1px;
	font-size:12px;
}
.button_style{
	background-color:#000000;
	color: #FFFFFF;
	border:1px solid #1A1414;
	padding-top:0px;
	padding-bottom:0px;
	padding-right:5px;
	padding-left:5px;
 }
 .button_style:hover{
 	background-color:#FFFFFF;
 	color: #000000;
 }
 .button_text{
	font-size:0.7em;
 }
 .selector{
	background-color:#000000;
	color: #FFFFFF;
	border:1px solid #1A1414;
	width: 82px;
	height:16px;
	font-size:12px;
	padding-top:0px;
	padding-bottom:0px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:0px;
	padding-right:0px;
}
 
 .ccd_button_disabled{
 	opacity:0.2;
 }
 
 .ccd_button{
	opacity:0.2;
}
.ccd_button:hover{
	opacity:1.0;
	cursor:pointer;
}
.ccd_button_selected{
	opacity:1.0;
	background-color: black;
}

#mount_buttons_panel{
	opacity:0.5;
}
#mount_buttons_panel:hover{
	opacity:1.0;
	cursor:pointer;
}

#main_ccd_buttons_panel{
	opacity:0.5;
}
#main_ccd_buttons_panel:hover{
	opacity:1.0;
	cursor:pointer;
}
 /* Animation style */
.expand{
	position:relative;
	margin-bottom:10px;
}
.positioner{
	position:absolute;
	
}
.slide{
	display:block;
	border:0;
	text-decoration:none;
	float:left;
	border-right:1px solid #fff;	
}
.slide img{
	display:block;
	border:0;
	width:100px;
	height:50px;
	cursor:pointer;
	-webkit-transition-duration:1s;
	-moz-transition-duration:1s;
	-o-transition-duration:1s;
	transition-duration:1s;
}
.slide:hover img{
	width:480px;
	height:320px;
}

#focus_marker{
	width: 20px; 
	height:25px; 
	background: grey; 
	position:relative; 
	left:460px;
	top: 30px;
	border-radius: 5px; 
	cursor: move;
	-moz-transform:rotate(0deg);
    -moz-transform-origin:5px 270px;
                        
    transform:rotate(0deg);
    transform-origin:5px 270px;                          

    -ms-transform:rotate(0deg);
    -ms-transform-origin:5px 270px;                                
                        
    -webkit-transform:rotate(0deg);
    -webkit-transform-origin:5px 325px;
    
    z-index:1000; 	
}
#reference_focuser{
	position:relative;
	width:0px;
	height:0px;
 	border-left:25px solid transparent;  /* left arrow slant */
 	border-right:25px solid transparent; /* right arrow slant */
 	border-top:25px solid #984D4A; /* bottom, add background color here */
	top: 10px;
	left: 487px;
}
#focus_marker_info{
	position:absolute;
	background-color:black;
	color:white;
	padding:5px;
	opacity:1.0;
	border-radius:20%;
	border:1px solid white;
	 -webkit-transform:rotate(0deg);
	 -ms-transform:rotate(0deg);
	 transform:rotate(0deg);
	 -moz-transform:rotate(0deg);
	 width:150px;
	 height:150px;
	 top:400px;
	 left:850px;
	 z-index:1000;
    
}
.arrow_up{
 	border-left:10px solid transparent;  /* left arrow slant */
 	border-right:10px solid transparent; /* right arrow slant */
 	border-bottom:10px solid white; /* bottom, add background color here */
}
.arrow_down{
 	border-left:10px solid transparent;  /* left arrow slant */
 	border-right:10px solid transparent; /* right arrow slant */
 	border-top:10px solid white; /* bottom, add background color here */
}
.arrow_left{
 	border-bottom:10px solid transparent;  /* left arrow slant */
 	border-top:10px solid transparent; /* right arrow slant */
 	border-right:10px solid white; /* bottom, add background color here */
}
.arrow_right{
 	border-top:10px solid transparent;  /* left arrow slant */
 	border-bottom:10px solid transparent; /* right arrow slant */
 	border-left:10px solid white; /* bottom, add background color here */
}
.component_disabled{
	opacity:0.5;
}
.component_enabled{
	opacity:0.5;
}
.component_enabled:hover{
	opacity:1.0;
 	cursor:pointer;
}

.badge_alarm{
	opacity:1.0;
}

.catalog_title{
	text-align:center;
}

.focuser-info
{
	opacity:1.0;
}
